.titleList {
	display: flex;
	align-items: center;
	list-style: none;
	width: 100%;
	overflow-x: hidden;
}

.slide {
	opacity: 0;
	transition-duration: 2s ease-in-out;
}

.active {
	opacity: 1;
	transition-duration: 2s;
}
